<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

<appSettings>
  <add key="PrimaryStorage" value="https://gorillaprodcdn.blob.core.windows.net/cdn"/>  
    <add key="SecondaryStorage" value="https://gorillaprodcdndr.blob.core.windows.net/cdn"/>  
   <add key="LogFileLocation" value="C:\\Log\\"/>  
  <add key="CertificateThumbprint" value="c50d923d51afe25960cd570cb39221354d79eee4"/>
   <add key="ClientID" value="7f8e800f-c4dd-43ac-af46-fe80daecefe0"/>
   <add key="vaultaddress" value="https://gorilla-app-qc-key-vault.vault.azure.net:443"/>
  
  

</appSettings>

</configuration>
